USE [master]
GO
/****** Object:  Database [Loja]    Script Date: 13/09/2024 14:13:36 ******/
CREATE DATABASE [Loja]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Loja', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXP\MSSQL\DATA\Loja.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Loja_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXP\MSSQL\DATA\Loja_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Loja].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Loja]
GO
/****** Object:  Table [dbo].[nivel]    Script Date: 13/09/2024 14:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nivel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[level] [nchar](10) NULL,
 CONSTRAINT [PK_level] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_level]    Script Date: 13/09/2024 14:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_level](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[nivel_id] [int] NOT NULL,
 CONSTRAINT [PK_user_level] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 13/09/2024 14:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nchar](10) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Senha] [nchar](10) NULL,
	[Nick] [nchar](10) NOT NULL,
	[CPF] [nchar](45) NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[user_level]  WITH CHECK ADD  CONSTRAINT [FK_nivelId] FOREIGN KEY([nivel_id])
REFERENCES [dbo].[nivel] ([id])
GO
ALTER TABLE [dbo].[user_level] CHECK CONSTRAINT [FK_nivelId]
GO
ALTER TABLE [dbo].[user_level]  WITH CHECK ADD  CONSTRAINT [FK_userId] FOREIGN KEY([user_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[user_level] CHECK CONSTRAINT [FK_userId]
GO
USE [master]
GO
